html body {
  padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #36648b;
  color: #fff;
}
a {
  color: #00b7ff;
}
.terminal {
  width: 800px;
  height: 400px;
  background-color: #00688b;
  color: #fff;
}
.terminal-interact {
  width: 800px;
  height: 150px;
  background-color: #00688b;
  color: #fff;
}
