html body
  padding: 0 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: #36648B
  color: white
a
  color: #00B7FF

.terminal
  width: 800px
  height: 400px
  background-color: #00688B
  color: white

.terminal-interact
  width: 800px
  height: 150px
  background-color: #00688B
  color: white